.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: clamp(1.3rem, 3vw, 3rem);

}

p {
    max-width: 600px;
    color: white;

    font-size: clamp(.6rem, 1.8vw, 1.3rem);
}