* {
    box-sizing: border-box;
}

:root {
    --text-primary: #FFFF;
    --text-color: #60A5FA;
    --text-secondary: #CBD5E1;
    --text-weight: 900;
    --sub-b-weight: 800;
    --nav-a-fSize : clamp(.9rem, 1.7vw, 1.8rem);
    --link-hover-color: #60A5FA;


    --surface-bg: rgba(255, 255, 255, .03);
    --surface-border: border: 1px solid rgba(255, 255, 255, .08);
    --surface-blur: 

    --fs-p: font-size: clamp(.9rem, 1.4vw, 1.3rem);

}

body {
    background: radial-gradient(circle,
            #1d3557,
            #1d1d1d,
            #000000);

    background-attachment: fixed;


    cursor: url("../Img_Folder/Cursor.png") 16 16, auto;
}


.section-title {
    padding-top: 50px;
    display: block;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: burlywood;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}


section {
    height: auto;
    min-height: 100vh;
    scroll-margin-top: 7rem;
}

.heading-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: clamp(1.2rem, 3vw, 4rem);
    color: white;
    font-weight: 700;

}

header {
    position: fixed;
    top: 5px;
    width: 100%;
    height: 100%;
    max-height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;


    z-index: 1000;
    padding: 0 20px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    background: var(--surface-bg);

    border-bottom: var(--surface-border);

    box-shadow: 0 8px 32px rgba(0, 0, 0, .25);
}


.navigator {
    display: flex;
    gap: 45px;
    cursor: pointer;

}

.navigator a {
    color: white;
    text-decoration: none;
    font-size: var(--nav-a-fSize);
    position: relative;
    transition: 0.3s;
}

.navigator a:hover {
    color: var(--link-hover-color);
}

.navigator a::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;

    background: cadetblue;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    transition: .3s ease;


}

.navigator a:hover::before {
    width: 100%;
    box-shadow:
        0 0 8px rgba(96, 165, 250, .6)
}

.heading-title{
    opacity:0;
    transform: translateY(-90%);
    transition:.5s ease;
}

.heading-title.show{
    opacity:1;
    transform:translateY(0%);
}


@media (max-width: 767px) {
    .ProfileHolder {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    ul {
        margin-top: 30px;
        padding-inline: 20px;
    }

    .profile {
        margin: 0;
        margin-top: 10px;
        transform: none;

    }

    header {
        flex-direction: row;
        height: auto;
        padding: 10px 10px;
        gap: 35px;


    }

    .Aspire {
        display: inline-block;
        width: 27ch;
        height: 1.3em;
        line-height: 1.3em;
    }

    .navigator {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right:20px;

    }

    .navigator.active {
        display: flex;
    }

    .menu-btn {
        display: flex;
    }

    .text {
        text-align: center;
    }






    .CV {
        display: block;
        margin: 20px auto 0;
        width: 100%;
        max-width: 250px;

    }
}


.section-title {
    padding-top: 50px;
    display: block;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: burlywood;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width: 832px) {
    .container {
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
    }

    .home-text {
        align-items: center;
        margin: 0;
    }

    .Social {
        padding-inline: clamp()
    }

}

@media(max-width: 826px) {
    .home-subheading {
        text-align: center;
    }
}